[submodule "proxy-scripts"]
	path = proxy-scripts
	url = https://github.com/brucekomike/proxy-scripts.git
	branch = main
[submodule "RAD-qt-widget"]
	path = RAD-qt-widget
	url = https://github.com/brucekomike/RAD-qt-widget.git
	branch = main
[submodule "server-deploy"]
	path = server-deploy
	url = https://github.com/brucekomike/server-deploy
	branch = main
[submodule "deploy-scripts-template"]
	path = deploy-scripts-template
	url = https://github.com/brucekomike/deploy-scripts-template.git
	branch = main
[submodule "RAD-qt-quick"]
	path = RAD-qt-quick
	url = https://github.com/brucekomike/RAD-qt-quick
	branch = main
[submodule "RAD-cli"]
	path = RAD-cli
	url = https://github.com/brucekomike/RAD-cli.git
  branch = main